{% extends "base.html" %} {% block content %}
<!-- carousel -->
<!-- <div id="wrapper">
    <div id="carousel">
        {% for fimage in image_list %}
        <img src="{{ fimage.image.url }}" height="990" width="450">
  
        {% endfor %}
    </div>
    <a href="#" id="prev" title="Show previous"> </a>
    <a href="#" id="next" title="Show next"> </a>
    <div id="pager"></div>
</div> -->
<style>
body,
html {
    /*background: #656372;*/
    background: #BAA78E;
    /*font-family: Arial;*/
}

a {
    font-size: 17px;
}

p {
    font-size: 13px;
    color: #B9A88E;
    font-weight: bold;
}

h1 {
    color: #5F2FF3;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    color: #121D33;
}

#navText {
    color: white;
}

#navTextBrand {
    color: white;
    /*font-weight: bold;*/
    font-size: 20px;
    /*text-align: right;*/
    margin-left: -120px;
}
body {
    background: url(http://subtlepatterns.com/patterns/scribble_light.png);
}

#wrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
<!--  
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/media/images/file_name.jpg" width="100%" height="100%">
            <div class="carousel-caption">
            </div>
        </div>
        {% for fimage in image_list %}
        <div class="item">
            <img src="{{fimage.image.url}}" style="height: 50%" width="100%" height="50%">
            <div class="carousel-caption">
                <p>{{fimage.images.url}}</p>
                <!--   <h3>Chania</h3>
                <p>The atmosphere in Chania has a touch of Florence and Venice.</p> -->
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<nav class="navbar navbar-inverse" style="border-radius: 0;background-color: #B0222E;border-color: #B0222E">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"><a id="navTextBrand" class="navbar-brand" href="#">Thammasat U.</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>  
            <!-- <img src="media/images/Logo-TU-3D-PNG-fromAPINANT.png" style="width: 50px;height: 50px;border-color: white"> -->
          <!-- <a id="navText" class="navbar-brand" href="#">Thammasat U.</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="navText" href="#">Home</a></li>
                <li><a id="navText" href="#">About</a></li>
                <li><a id="navText" href="#">Services</a></li>
                <li><a id="navText" href="#">Works</a></li>
                <li><a id="navText" href="#">News</a></li>
                <li><a id="navText" href="#">Contact</a></li>
                <li> {% if not user.is_authenticated %}
                    <a id="cancel" class="btn btn-default btn-outline btn-circle collapsed" data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse2" style="color: white;border-color:white">Login</a> {% else %}
                    <li><a id="navText">{{ user.username }}</a></li>
                    <form action="{% url 'logout' %}" class="navbar-form navbar-right form-inline" role="form">
                        {% csrf_token %}
                        <!-- <div class="form-group"> -->
                        <!-- <a style="color:white"></a> -->
                        <!-- </div> -->
                        <button type="submit" style="color: white;margin-top: 3px;font-size: 15px;margin-bottom: -10px" class="btn btn-default btn-outline btn-circle collapsed" aria-expanded="false" aria-controls="nav-collapse2">Logout</button>
                    </form>
                    {% endif %}
                </li>
            </ul>
            <div class="collapse nav navbar-nav nav-collapse slide-down" style="background-color:#B0222E;border-color: #B0222E" id="nav-collapse1">
                {% if not user.is_authenticated %}
                <form action="{% url 'auth' %}" method="post" class="navbar-form navbar-right form-inline" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="Username">username</label>
                        <input type="text" class="form-control" name="Username" id="Username" placeholder="Username" required />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="Password">Password</label>
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required />
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- End  bootstrap-touch-slider Slider -->
<!-- end carousel -->
<!-- <div style="background-color: black" class="container-fluid"> -->
<!-- Second navbar for categories -->
<!-- Second navbar for search -->
<!-- Second navbar for sign in -->
<!-- /.navbar -->
<!-- </div> -->
<!-- /.container-fluid <-->
<!-- <div class="container"> -->
<!--   <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action=""  method="POST">{% csrf_token %}
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="q" value="{{requset.GET.q}}" id="search" placeholder="search event">
                   <button type="submit" value="search"> <span class="glyphicon glyphicon-search form-control-feedback"></span></button> 
                </div>
            </form>
        </div>
    </div> -->
<!-- <form action="" method="POST">{% csrf_token %}
    <input type="text" class="form-control" name="q" placeholder="search event">
    <input type="submit" value="search">
</form> -->
<!-- </div> -->
<!-- <div class="container"> -->
<div id="wrapper">
    <div id="columns">
        <br>
        <!-- <div class="row"> -->
        {% for event in event_list %}
        <!-- margin-right: 5px;width: 30%;height:    auto; margin-bottom: 20px;margin-left: 25px;" -->
        <div class="pin">
            <!-- <a href="/event/{{event.pk}}">edit event  </a> -->
            <!--     <br> -->
            <img src="{{ event.pic.url }}">
            <br>
            <h3>{{event.title}}</h3>
            <br>
            <br>
            <p> <span style="color: #FE6D50" aria-hidden="true"><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{event.content}}</p>
            <p> <span style="color: #FE6D50" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{event.username}}</p>
            <a href="">
                <p style="border">more info</p>
            </a>
        </div>
        {% endfor %}
        
               
 {% for event in event_list %}
        <!-- margin-right: 5px;width: 30%;height:    auto; margin-bottom: 20px;margin-left: 25px;" -->
        <div class="pin">
            <!-- <a href="/event/{{event.pk}}">edit event  </a> -->
            <!--     <br> -->
            <img src="{{ event.pic.url }}">
            <br>
            <h3>{{event.title}}</h3>
            <br>
            <br>
            <p> <span style="color: #FE6D50" aria-hidden="true"><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{event.content}}</p>
            <p> <span style="color: #FE6D50" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{event.username}}</p>
            <a href="">
                <p style="border">more info</p>
            </a>
        </div>
        {% endfor %} 
        <!--  <div class="col-md-2" style="background-color: #F5F5F5;margin-right: 10px">

            <br>
            <img src="/media/images/ff.jpg" height="100%" width="100%">
            <br>
            <h3>{{event.title}}</h3>
            <br>
            <br>
            <p> <span style="color: #FE6D50" aria-hidden="true"><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{event.content}}</p>
            <p> <span style="color: #FE6D50" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{event.username}}</p>
            <a href="">
                <p style="border">more info</p>
            </a>
        </div> -->
        <!--  <div class="col-md-3" style="background-color: black;margin-right:30px;width: 30%">
            <h1>Event</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <button type="button" class="btn btn-default btn-sm" style="border-radius: 30px">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
        <div class="col-md-3" style="background-color: black;margin-right: 30px;width: 32%">
            <h1>Event</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div> -->
        <!-- </div> -->
     
    </div>
</div>
<div id="wrapper">
    <div id="columns">
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Donec a fermentum nisi.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula faucibus suscipit. Suspendisse rutrum turpis quis nunc convallis quis aliquam mauris suscipit.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula faucibus suscipit. Suspendisse rutrum turpis quis nunc convallis quis aliquam mauris suscipit.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut sagittis vitae, egestas at augue.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula faucibus suscipit. Suspendisse rutrum turpis quis nunc convallis quis aliquam mauris suscipit. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Nullam eget lectus augue.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut sagittis vitae, egestas at augue. Suspendisse id nulla ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut sagittis vitae, egestas at augue. Suspendisse id nulla ac urna vestibulum mattis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut sagittis vitae, egestas at augue. Suspendisse id nulla ac urna vestibulum mattis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut sagittis vitae, egestas at augue. Suspendisse id nulla ac urna vestibulum mattis.
            </p>
        </div>
        <div class="pin">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
    </div>
</div>
{% endblock content %} {% block script %}
<script type="text/javascript">
$(function() {
    $('#carousel').carouFredSel({
        width: '100%',
        items: {
            visible: 3,
            start: -1
        },
        scroll: {
            items: 1,
            duration: 1000,
            timeoutDuration: 3000
        },
        prev: '#prev',
        next: '#next',
        pagination: {
            container: '#pager',
            deviation: 1
        }
    });
});

$('#cancel').click(function() {
    if ($(this).text() == "Login") {
        $(this).text("Cancel");
    } else {
        $(this).text("Login");
    };
});
</script>
{% endblock script %}
