{% extends "base.html" %} {% block content %}
<!-- <div style="padding:40px;margin:40px;border:1px solid #ccc">
    <h1>picture</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form}}
        <input type="submit" value="Upload" />
    </form>
   
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {{form}}</div>
                        {{ form.title }}
                </div>
             
            </form>
        </div>
    </div>
</div> -->
<style>
label {
    font-size: 17px;
}

form {
    width: 100%;
    /*margin-left:  70px;*/
}
</style>
<div class="container">
    <h1>Add Your Event</h1>
    <br>
    <form action="#" method="post" enctype="multipart/form-data">
 
        {% csrf_token %}
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                <!-- <div class="container"> -->
                <div class="form-group ">
                    <label>Title</label>
                    {{ form.title }}
                </div>
     
                <div class="form-group">
                    <label>Upload Image</label>
                    {{ form.pic }}
                </div>
                <div class="form-group">
                    <label>Name</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="col-md-5">
                <!-- <div class="container"> -->
                <label for="example-email-input">Message</label>
                <div class="form-group ">
                    {{ form.content }}
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <center>
            <input type="submit" class="btn btn-default" value="Upload" />
        </center>
       
    </form>
</div>
{% endblock content %} {% block script %} {% endblock script %}
